$accent: #ff9391;
$primary: #6788ff;
$coolGrey: #eef2fa;
$coolBlue: #45c7d8;
$white: #fff;

@import './styles/typography.scss', './styles/variables.scss';

.bg {
  &--accent {
    background-color: $accent !important;
  }
  &--primary {
    background-color: $primary !important;
  }
  &--default {
    background-color: $white !important;
  }
  &--grey {
    background-color: $coolGrey !important;
  }
  &--coolGrey {
    background-color: $coolGrey !important;
  }
  &--coolBlue {
    background-color: $coolBlue !important;
  }
  &--none {
    background-color: transparent;
  }
  &--transparent {
    background-color: transparent;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9fbfd;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
}

.container {
  margin: 20px;
  height: 100%;

  .top-icon {
    padding: 0 0 0 20px;
  }
}

.main-content {
  margin-left: auto;
  .dashboard {
    padding: 20px;
  }
}

@media screen and (min-width: 650.1px) and (max-width: $md) {
  .main-content {
    margin: auto auto;
    .dashboard {
      padding: 20px 0;
    }
  }

  .sidebar {
    left: 0;
    margin-left: -14%;
    transition: all 800ms ease-in-out;

    &:hover,
    &--open {
      margin-left: 0px;
    }
  }
  .card {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 650px) {
  .main-content {
    .dashboard {
      padding: 20px 0;
    }
  }
  .card {
    margin-bottom: 15px;
  }

  .sidebar {
    left: 0;
    margin-left: -21%;
    transition: all 800ms ease-in-out;

    &:hover,
    &--open {
      margin-left: 0%;
    }
  }

  .title {
    font-size: 28px;
  }
}
